* {
    font-family: 'Times New Roman', Times, serif;
}
nav {
    display: flex;
    justify-content: center;
    margin-top: auto;
}

header {
    background-color: #b7b7a4;
    font-size: 200%;
    border: 12px solid #ffe8d6;
}

.me {
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    border-radius: 500px;
    border: 12px solid #ffe8d6 ;
}

li {
    display: inline;
    margin: 20px;
    border-bottom:solid;
}

.name {
    text-align: center;
    margin-bottom: 0px;
}

.main {
    border: 10px solid #ffe8d6;
    border-radius: 10px;
    background-color: #6b705c;
    padding: 10px;
}
.main h2 {
    font-size: 32px;
}

p{
    font-size: 20px;
}
header nav {
    display:inline-block;
    margin-left: 40%;
    text-align: center;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    border-bottom: solid;
}

img {
    border:12px solid #a5a58d;
}

#work {
    display: inline-block;
}

#about-me {
    display: inline-block ;
}