* {
    font-family: 'Times New Roman', Times, serif;
}
nav {
    display: flex;
    justify-content: center;
    margin-top: auto;
    border:1px solid red;
}

button {
    width: 250px;
    margin: 0.5%;
    font-size: 24px;
    background-color: #a5a58d;
    border-radius: 10px;
    color: black;
}

header {
    background-color: #b7b7a4;
    font-size: 200%;
}

.me {
    float: right;
    border-radius: 10px;
}

li {
    display: inline;
    margin: 20px;
    border-bottom:solid;
}

.name {
    text-align: center;
}

